<div class=" inner">
    <h2>About</h2>
    <p>Final project for CSS 490 (Cloud Computing) at UW Bothell.</p>
    <p>Created by: Catherine Santos, Clayton Snyder, Matthew Stibbins</p>
    <p>Special thanks to Francis Tran for aesthetic suggestions.</p>
</div>