      <div class=" inner">
        <h2>Select a Pokemon</h2>
          
        <main class="grid">
          <card>
            <div class ="cardcontainer">
              <img src="pics\bulbasaur.jpg" alt="Sample photo" align="center" valign="center">
            </div>
            <div class="text">
              <h3>Bulbasaur</h3>
              <p>PokeDex: 001</p>
              <button>Leave a Review</button>
            </div>
          </card>

          <card>
            <div class ="cardcontainer">
              <img src="pics\ivysaur.jpg" alt="Sample photo" align="center" valign="center">
            </div>
            <div class="text">
              <h3>Ivysaur</h3>
              <p>PokeDex: 002</p>
              <button>Leave a Review</button>
            </div>
          </card>

          <card>
            <div class ="cardcontainer">
              <img src="pics\venusaur.jpg" alt="Sample photo" align="center" valign="center">
            </div>
            <div class="text">
              <h3>Venusaur</h3>
              <p>PokeDex: 003</p>
              <button>Leave a Review</button>
            </div>
          </card>

          <card>
            <div class ="cardcontainer">
              <img src="pics\charmander.jpg" alt="Sample photo" align="center" valign="center">
            </div>
            <div class="text">
              <h3>Charmander</h3>
              <p>PokeDex: 004</p>
              <button>Leave a Review</button>
            </div>
          </card>

          <card>
            <div class ="cardcontainer">
              <img src="pics\charmeleon.jpg" alt="Sample photo" align="center" valign="center">
            </div>
            <div class="text">
              <h3>Charmeleon</h3>
              <p>PokeDex: 005</p>
              <button>Leave a Review</button>
            </div>
          </card>

          <card>
            <div class ="cardcontainer">
              <img src="pics\charizard.jpg" alt="Sample photo" align="center" valign="center">
            </div>
            <div class="text">
              <h3>Charizard</h3>
              <p>PokeDex: 006</p>
              <button>Leave a Review</button>
            </div>
          </card>

        </main>
        <footer>
          <article class="footer_column"> </article>
        </footer>
    </div>

