<h1>{{title}}</h1>
<p>Here you is at {{title}}</p>
<p>Pokemon in table: {{result}}</p>
<br><br>
<form action='/pokemon/1/review' method='post'>
    Rating (1 - 5):
    <input type='number' min='1' max='5' name='rating'>
    <br>
    Comments:
    <input type='text' name='reviewText'>
    <br><br>
    <input type='submit' value='submit' id='submit-review'>
</form>