      <div class=" inner">
        <h2>Select a Pokemon</h2>
          
        <main class="grid">
          {{{generateCards rows}}}

        </main>
        <footer>
          <article class="footer_column"> </article>
        </footer>
    </div>

