@charset "UTF-8";
/* Body */
body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #ffffff;
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-left: 20px;
	font-style: normal;
  font-weight: 200;
  
}

.wrapper {
  margin-left:auto;
  margin-right:auto;
  width:960px;
  
}
/* Container */
.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;
  background-color: #FFFFFF;
  
}

.outer, .inner {
  display: block;
}

.outer {
  /* specify fixed width */
  width: 1000px;
  padding: 0;
}

.inner {
  /* specify padding, can be changed while remaining fixed width of .outer */
  padding: 20px;
}


.grid { 
  display: grid;
  
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));

  grid-gap: 20px;
  align-items: auto;
  /* padding-left: 25px;
	padding-right: 25px; */
  }
.grid > card {
  width: 270px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
.grid > card img {
  display:table-cell;
  margin-left: auto;
  margin-right:auto;
	margin-top: 10px;
  max-width: 100%;
  max-height: 200px;

}

.cardcontainer {
	width: 100%;
  height: 200px;
  background-color: rgb(255, 255, 255);
}

.text {
  padding: 0 20px 20px;
}
.text > button {
  background: grey;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
  }

.text > button:hover {
  background: rgb(82, 81, 81);
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
}

.text > button:active {
  background: rgb(58, 58, 58);
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
}

.containerheader {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;
  background-color: #FFFFFF;
}
/* Navigation */
header {
	width: 100%;
	height: 5%;
	background-color: #ff0000;
	border-bottom: 1px solid rgb(235, 50, 50);
}
.logo {
	color: #fff;
	font-weight: bold;
	text-align: undefined;
	width: 10%;
	float: left;
	margin-top: 14px;
	margin-left: 25px;
	letter-spacing: 4px;
}

.searchbar {
	color: #fff;
	font-weight: bold;
	text-align: undefined;
	width: 15%;
	float: left;
	margin-top: 13px;
	margin-left: 80px;
	letter-spacing: 4px;
}

.searchbar input {
  height: 15px;
  width: 170px;
}

.search-button {
	color: #fff;
	font-weight: bold;
	text-align: undefined;
	width: 15%;
	float: left;
	margin-top: 13px;
	margin-left: 90px;
	letter-spacing: 4px;
}

nav {
	float: right;
	width: 35%;
	text-align: right;
	margin-right: 10px;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	/* transition: all 0.3s linear; */
}
ul li a {
	color: #FFFFFF;
	text-decoration: none;
}
ul li:hover a {
	color: #2C9AB7;
}
.hero_header {
	color: #FFFFFF;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
}
/* Hero Section */
.hero {
	background-color: #B3B3B3;
	padding-top: 150px;
	padding-bottom: 150px;
}
.light {
	font-weight: bold;
	color: #717070;
}
.about {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 35px;
	display: inline-block;
	background-color: #FFFFFF;
	margin-top: 0px;
}
/* More info */
footer {
	background-color: #FFFFFF;
	padding-bottom: 35px;
}
.footer_column {
	width: 50%;
	text-align: center;
	padding-top: 30px;
	float: left;
}
footer .footer_column h3 {
	color: #B3B3B3;
	text-align: center;
}
footer .footer_column p {
	color: #717070;
	background-color: #FFFFFF;
}

footer .footer_column p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
}
.button {
	background: grey;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
}
.button:hover {
	background: rgb(82, 81, 81);
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
}

.footer_banner {
	background-color: #B3B3B3;
	padding-top: 60px;
	padding-bottom: 60PX;
	margin-bottom: 0px;
	background-image: url(../images/pattern.png);
	background-repeat: repeat;
}
footer {
	display: inline-block;
}
.hidden {
	display: none;
}

.leftcol{
  float: left;
  border: 1px solid #000;
  background-color: #f2f2f2;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);

  max-width: 100%;
  max-height: 700px;
  padding:10px
}

.rightcol{
  margin-left: 20px;
  float: left;
  background-color: #f2f2f2;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  width: 600px;
  /* max-height: 700px; */
  padding:10px
}

.innercol {
  /* specify padding, can be changed while remaining fixed width of .outer */
  float: left;
  padding: 100px;
  text-align: left;
  align-items: left;
}

.row {
  margin-top: 25px;
  margin-left: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.rate {
  
  float:left;
  align-items: left;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:60px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: rgb(255, 135, 43);    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: rgb(245, 139, 58);  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: rgb(195, 98, 23);
}

table {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.shrink { width: 50%; }​

td, th {
  border:none;
  text-align: left;
  padding: 0px;
}

.star-ratings-sprite {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  margin: 0 auto;
}
  
.star-ratings-sprite-rating {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display:block;
}
  
